<div class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand text-white">Dogs On My Street</a>
  <button class="btn btn-primary pull-xs-right" (click)="goHome()">
    <span class="glyphicon glyphicon-home">Home</span>
  </button>
</div>

<div class="p-a-1">
  <div class="card card-outline-primary">
    <h4 class="card-header">New Discussion</h4>
    <form *ngIf="!submitted" class="card-text p-a-1" (ngSubmit)="submitDiscussion(dForm)" #dForm="ngForm">

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username"
               [(ngModel)]="discussion_model.user" name="username">
      </div>

      <div class="form-group">
        <label for="town">Town:</label>
        <input type="text" class="form-control" id="town"
               [(ngModel)]="discussion_model.town" name="town">
      </div>

      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" class="form-control" id="street"
               [(ngModel)]="discussion_model.street" name="street">
      </div>

      <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" id="subject"
               [(ngModel)]="discussion_model.subject" name="subject">
      </div>

      <div class="form-group">
        <label for="message">Message:</label>
        <input type="text" class="form-control" id="message"
               [(ngModel)]="discussion_model.message" name="message">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
  </div>
</div>
