<div class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand text-white">Dogs On My Street</a>
  <button class="btn btn-primary pull-xs-right" (click)="goHome()">Home</button>
  <button *ngIf="!activeusername" class="btn btn-primary pull-xs-right m-r-1" routerLink="/login">Login</button>
  <button *ngIf="activeusername" class="btn btn-primary pull-xs-right m-r-1" (click)="logout()">Logout {{activeusername}}</button>
</div>

<div class="p-a-1" *ngIf="discussion">
  <div class="card card-outline-primary">
    <h4 class="card-header">{{discussion.subject}}</h4>
    <div class="card-text p-a-1">
      Posted by: {{discussion.user}}<br>
      Date posted: {{discussion.created | date : "short"}}<br><br>
      {{discussion.message}}
    </div>
  </div>
</div>

<div class="p-a-1">
  <div *ngFor="let post of posts" class="card card-outline-primary">
    <h4 class="card-header">
      RE: {{discussion.subject}}</h4>
    <div class="card-text p-a-1">
      Posted by: {{post.user}}<br>
      Date posted: {{post.created | date : "short"}}<br><br>
      {{post.message}}
    </div>
  </div>
</div>

<div class="p-a-1">
  <div class="card card-outline-primary">
    <h4 class="card-header">
      Reply</h4>
    <div class="card-text p-a-1">
      <form *ngIf="activeusername" class="card-text p-a-1" (ngSubmit)="submitPost(pForm)" #pForm="ngForm" [formGroup]="p_form">

        <div class="form-group">
          <label for="message">Message:</label>
          <textarea rows="15" type="text" class="form-control" id="message"
                    [(ngModel)]="post_model.message" name="message" formControlName="message"></textarea>
        </div>
        <div class="alert alert-danger" *ngIf="p_form.controls['message'].touched  && !p_form.controls['message'].valid">
          {{ titleAlert }}</div>

        <button type="submit" class="btn btn-success" [disabled]="!p_form.valid">Submit</button>

      </form>

      <p *ngIf="!activeusername" class="card-text p-a-1"> Please <a routerLink="/login">login</a> to reply!</p>
    </div>
  </div>
</div>

